body.home-background {
    background-image: url('/images/009.jpg') !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
