@{
    ViewData["Title"] = "Home Page";
}
@section Styles
{
    <style>
       

        .content {
            z-index: 1; /* 內容在背景之上 */
            position: relative;
            text-align: center;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            border-radius: 10px;
        }

    </style>
}

<div class="home-background p-0 m-0">
    <div class="content">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" style="color: #FFD700;">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
